/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

html {
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
}


.site-container {
  margin: auto;
  margin-top: 80px;
  max-width: 60%;
  position: relative;
  top: 50%;
  overflow: auto;
}

.left-image {
  max-width: 50%;
  display: inline-block;
  float: left;
}

.right-content {
  display: inline-block;
  max-width: 60%;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  margin-left: 50px;
  float: left;
}

.phones {
  display: inline-block;
  max-width: 100%;
}

.logo {
  display: inline-block;
  float: left;
  max-width: 50%;
  margin-left: 50px;
}

.copy {
  margin: 20px;
  clear: both;
  display: inline-block;
  max-width: 100%;
}

.copy h2 {
  max-width: 60%;
  /*display: inline;*/
  /*margin: 0;*/
}

.copy p {
  max-width: 70%;
  /*max-width: 0%;*/
  /*display: inline;*/
  /*margin: 0;*/
}

.pbutton {
  margin: 10px;
}

footer p {
  text-align: right;
  display: inline-block;
}

.nav {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-top: 55px;
  margin-left: 650px;
  text-align: center;
}

.nav li {
  display: inline;
  margin: 5px;

}
